numpy
umap-learn[plot]
matplotlib
pandas
h5py
toml
torch~=1.11.0
torchvision~=0.12.0
pytorch-lightning~=1.6.0
hydra-core~=1.2.0

# Install submodule in editable mode and with development dependencies,
# since users would expect to be able to edit code they have access to,
# and for their changes to be reflected in their environment
-e ../vital[dev]
